.pdf-div {
    margin-top: 20px;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .navigation button {
    margin: 0 10px;
  }
  
  .pdf-container {
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
  }
  
  .pdf-page {
    width: 100%;
    max-width: 800px; /* Adjust maximum width as needed */
  }
  